services:
  brouter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: brouter
    ports:
      - "17777:17777"
    volumes:
      - "./misc/scripts/segments4:/segments4"
      - "./logs:/var/log"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
